

<% if (shapes.length > 1) { %>
    <% _.each(shapes, function(shape) { %>
    <tr class="roiModalRoiItem shape" data-shapeId="<%= shape.id %>"
        title="<%= shape.tooltip %>"
        <% if (!shape.icon) { %>title="<%= shape.type %> not supported in OMERO.figure"<% } %>
        >
        <td></td>
        <td>
            <span class="glyphicon <% if (shape.icon) { %><%= shape.icon %><% } %>"></span>
        </td>
        <td>
            <% if (shape.theZ !== undefined) { %>
                <%= shape.theZ + 1 %>
            <% } %>
        </td>
        <td>
            <% if (shape.theT !== undefined) { %>
                <%= shape.theT + 1 %>
            <% } %>
        </td>
        <td style="padding-left: 0; padding-right: 0; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            <% if (shape.Text !== undefined) { %>
                <%= shape.Text %>
            <% } %>
        </td>
        <td>
            <% if (shape.icon) { %>
            <button type="button" class="addOmeroShape btn btn-success btn-sm"
                    title="Add Shape to image">
                Add
            </button>
            <% } else { %>
                <span>
                    <%= shape.type %>
                </span>
            <% } %>
        </td>
    </tr>
    <% }) %>
<% } %>
