
<tr>
    <th></th>
    <th></th>
    <th>Z</th>
    <th>T</th>
    <th>Comment</th>
    <th></th>
</tr>
<% _.each(rois, function(roi) { %>

<tr class="roiModalRoiItem"
        data-roiId="<%= roi.id %>"
        <% if (!roi.shapes[0].icon) { %>
            title="<%= roi.shapes[0].type %> not supported in OMERO.figure"
        <% } %>
        <% if (roi.shapes.length === 1) { %>
            data-shapeId="<%= roi.shapes[0].id %>"
            title="<%= roi.shapes[0].tooltip %>"
        <% } %>
        >
    <td>
        <% if (roi.shapes.length > 1) { %>
            <i class="toggleRoi bi bi-play-fill"></i>
        <% } %>
    </td>
    <td>
        <span class="glyphicon <% if (roi.shapes[0].icon) { %><%= roi.icon %><% } %>"></span>
    </td>

    <td style="padding-left: 0; padding-right: 0">
        <% if (roi.minZ !== undefined) { %>
            <%= roi.minZ + 1 %><% if (roi.maxZ !== roi.minZ) print("-" + (roi.maxZ + 1)); %>
        <% } %>
    </td>
    <td style="padding-left: 0; padding-right: 0">
        <% if (roi.minT !== undefined) { %>
            <%= roi.minT + 1 %><% if (roi.maxT !== roi.minT) print("-" + (roi.maxT + 1)); %>
        <% } %>
    </td>
    <td style="padding-left: 0; padding-right: 0">
        <% if (roi.Text !== undefined) { %>
            <%= roi.Text.length > 15 ? roi.Text.substring(0, 15) + "..." : roi.Text %>
        <% } %>
    </td>
    <td style="padding: 4px;">
        <% if (roi.shapes.length === 1 && roi.shapes[0].icon) { %>
        <button type="button" class="addOmeroShape btn btn-success btn-sm"
                title="Add Shape to image">
            Add
        </button>
        <% } %>
    </td>
</tr>

<% }) %>
