
<tr>
    <th></th>
    <th></th>
    <th style="line-height: 28px;">Z</th>
    <th style="line-height: 28px;">T</th>
    <th>
        <button title="Add all shapes on the current Z/T plane within the image viewport" type="button"
            class="btn btn-success btn-sm addAllShapesToView" style="padding: 3px 6px">
        Add All Shapes
        </button>
    </th>
</tr>
<% _.each(rois, function(roi) { %>

<tr class="roiModalRoiItem"
        data-roiId="<%= roi.id %>"
        <% if (!roi.shapes[0].icon) { %>
            title="<%= roi.shapes[0].type %> not supported in OMERO.figure"
        <% } %>
        <% if (roi.shapes.length === 1) { %>
            data-shapeId="<%= roi.shapes[0].id %>"
            title="<%= roi.shapes[0].tooltip %>"
        <% } %>
        >
    <td>
        <% if (roi.shapes.length > 1) { %>
            <span class="toggleRoi glyphicon glyphicon-play"></span>
        <% } %>
    </td>
    <td>
        <span class="glyphicon <% if (roi.shapes[0].icon) { %><%= roi.icon %><% } %>"></span>
    </td>

    <td style="padding-left: 0; padding-right: 0">
        <% if (roi.minZ !== undefined) { %>
            <%= roi.minZ + 1 %><% if (roi.maxZ !== roi.minZ) print("-" + (roi.maxZ + 1)); %>
        <% } %>
    </td>
    <td style="padding-left: 0; padding-right: 0">
        <% if (roi.minT !== undefined) { %>
            <%= roi.minT + 1 %><% if (roi.maxT !== roi.minT) print("-" + (roi.maxT + 1)); %>
        <% } %>
    </td>
    <td>
        <% if (roi.shapes.length === 1 && roi.shapes[0].icon) { %>
        <button type="button" class="addOmeroShape btn btn-success btn-sm"
                title="Add Shape to image">
            Add
        </button>
        <% } %>
    </td>
</tr>

<% }) %>
