*.pyc
.DS_Store
.omero
demo/omero_figure/
demo/figure.js
demo/index.html
node_modules/
_site
dist
src/omero_figure.egg-info
src/omero_figure/static/figure/figure.js
src/omero_figure/static/figure/templates.js
src/omero_figure/static/figure/3rdparty/shape-editor*
