*.pyc
.DS_Store
.omero
demo/omero_figure/
demo/figure.js
demo/index.html
node_modules/
_site
dist
omero_figure.egg-info
omero_figure/static/figure/figure.js
omero_figure/static/figure/templates.js
omero_figure/static/figure/3rdparty/shape-editor*
