Aleksandra Tarkowska <a.tarkowska@dundee.ac.uk> <A.Tarkowska@dundee.ac.uk>
Aleksandra Tarkowska <a.tarkowska@dundee.ac.uk> Ola Tarkowska <aleksandra-tarkowska@users.noreply.github.com>
Andreas Knab <andreas@glencoesoftware.com> <knabar@gmail.com>
David Pinto <david.pinto@bioch.ox.ac.uk> Carnë Draug <carandraug+dev@gmail.com>
Helen Flynn <h.flynn@dundee.ac.uk> <omehelen@gmail.com>
Jean-Marie Burel <j.burel@dundee.ac.uk> jean-marie burel <j.burel@dundee.ac.uk>
Josh Moore <josh@openmicroscopy.org> <josh@glencoesoftware.com>
Josh Moore <josh@openmicroscopy.org> <j.a.moore@dundee.ac.uk>
Julian Hniopek <julian.hniopek@uni-jena.de> <53080416+JulianHn@users.noreply.github.com>
Sébastien Besson <sbesson@glencoesoftware.com> <seb.besson@gmail.com>
Tom Boissonnet <tom.boissonnet@hhu.de> Tom-TBT <tom.boissonnet@hhu.de>
Will Moore <w.moore@dundee.ac.uk> William Moore <w.moore@dundee.ac.uk>
Will Moore <w.moore@dundee.ac.uk> <will@lifesci.dundee.ac.uk>
