<div class="calib  calib_<%= position %>">
    <% if (show) { %>
        <div class="lutBg calib_bg"  style="
                height: <%= thickness %>px;
                background-position: <%= lutBgPos %>;
                border:1px solid #000">
        </div>
        <div class="calibration_ticks calibration_ticks_<%= position %>">
            <div class="ticks ticks_<%= position %>">
                <div class="ticks">
                    <div class="tick">
                        <div class="dash" style="background-color: #000; height: 10px">
                            <span class="label" style="">0</span>
                        </div>
                    </div>
                    <div class="tick">
                        <div class="dash" style="background-color: #000; height: 10px">
                            <span class="label" style="">125</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>