
 <div class="clearfix" style="position: relative; padding-bottom: 4px">


    <div class="btn-group">
            <button type="button"
            title="Turn channel on/off"
class="btn btn-default channel-btn lutBg"
                    data-index="<%= idx %>"
                    style="background-color:#<%= color %>; background-position: <%= lutBgPos %>">

                    <%= label %>
                <div class="<% if(active) { %>ch-btn-down<% } else if (typeof active == 'boolean') { %>ch-btn-up<% } else { %>ch-btn-flat<% }%>">&nbsp</div>&nbsp
            </button>
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" title="Pick channel color">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu colorpicker" data-index="<%= idx %>">
                <li>
                    <a data-color="reverse" class="reverseIntensity" href="#">
                        <span style="font-size: 18px; position: relative; top: 4px;;"
                            class="glyphicon
                            <% if(reverse) { %>glyphicon-check<% } else { %>glyphicon-unchecked<% } %>">
                        </span> Invert
                    </a>
                </li>
                <li class="divider"></li>
                <li><a data-color="0000FF" href="#">
                    <span style="background-color:#00f">&nbsp &nbsp &nbsp</span>&nbsp Blue
                </a></li>
                <li><a data-color="00FF00" href="#">
                    <span style="background-color:#0f0">&nbsp &nbsp &nbsp</span>&nbsp Green
                </a></li>
                <li><a data-color="FF0000" href="#">
                    <span style="background-color:#f00">&nbsp &nbsp &nbsp</span>&nbsp Red
                </a></li>
                <li><a data-color="FFFF00" href="#">
                    <span style="background-color:#ff0">&nbsp &nbsp &nbsp</span>&nbsp Yellow
                </a></li>
                <li><a data-color="FFFFFF" href="#">
                    <span style="background-color:#fff">&nbsp &nbsp &nbsp</span>&nbsp White
                </a></li>
                <li><a data-color="FF00FF" href="#">
                    <span style="background-color:#f0f">&nbsp &nbsp &nbsp</span>&nbsp Magenta
                </a></li>
                <li class="divider"></li>
                <li><a data-color="lutpicker" href="#">
                    <span class="lutBg">&nbsp &nbsp &nbsp</span>&nbsp Lookup Tables
                </a></li>
                <li><a data-color="colorpicker" data-oldcolor="<%= color %>" href="#">
                    <span class="colorpickerOption">&nbsp &nbsp &nbsp</span>&nbsp More Colors...
                </a></li>
            </ul>
        </div><br>

    <span class="ch_start">
        <input type="number" data-window="start"
        <% if (startsNotEqual) { %>
            title="Average: <%= startAvg %> (selected images have different start values)"
            style="color: #ccc;"
        <% } %>
        data-idx="<%=idx%>" value="<%= startAvg %>" max="<%= endAvg %>">
    </span>
    <div class="ch_slider" style="background-color:#ddd; background-color:#<%=color%>" aria-disabled="false">
    </div>
    <span class="ch_end">
        <input type="number" data-window="end"
        <% if (endsNotEqual) { %>
            title="Average: <%= endAvg %> (selected images have different end values)"
            style="color: #ccc;"
        <% } %>
        data-idx="<%=idx%>" value="<%= endAvg %>" min="<%= startAvg %>">
    </span>
</div>
