<div class="colorbar colorbar_<%= position %>"
     style="<% if (position === 'top') { %> margin-bottom: <%= spacing %>px; <% }
               else if (position === 'bottom') { %> margin-top: <%= spacing %>px; <% }
               else if (position === 'left') { %> margin-right: <%= spacing %>px; <% }
               else if (position === 'right') { %> margin-left: <%= spacing %>px; <% } %>">
    <% if (show) { %>
        <% if (position !== 'top') { %>
            <!-- Top is has colorbar rendered after ticks -->
            <div class="lutBg colorbar_bg"
                style="height: <%= thickness %>px;
                        background-image: <%= isLUT ? 'url(' + lut_url + ')' : 'linear-gradient(to left, #' + color + ', black)' %>;
                        <%= isLUT ? 'background-position: ' + lutBgPos : '' %>;
                        <%= reverseIntensity ? 'transform: scaleX(-1);' : '' %>;">
            </div>
        <% } %>

        <div class="colorbar_ticks colorbar_ticks_<%= position %>" style="border-top: 2px solid #<%= axis_color %>;">
            <% for (let i = 0; i < num_ticks; i++) { %>
                <div class="tick">
                    <div class="dash" style="background-color: #<%= axis_color %>; height: <%= tick_len %>px; margin-bottom:<%= label_margin %>px"></div>
                    <span class="label" style="color: #<%= axis_color %>; font-size: <%= font_size %>px;">
                        <%= Math.round((end - start) * i / (num_ticks-1)) %>
                    </span>
                </div>
            <% } %>
        </div>

        <% if (position === 'top') { %>
            <div class="lutBg colorbar_bg"
                style="height: <%= thickness %>px;
                        background-image: <%= isLUT ? 'url(' + lut_url + ')' : 'linear-gradient(to left, #' + color + ', black)' %>;
                        <%= isLUT ? 'background-position: ' + lutBgPos : '' %>;
                        <%= reverseIntensity ? 'transform: scaleX(-1);' : '' %>;">
            </div>
        <% } %>
    <% } %>
</div>
