<div class="colorbar colorbar_<%= position %>"
     style="<% if (position === 'top') { %> margin-bottom: <%= spacing %>px; <% }
                else if (position === 'bottom') { %> margin-top: <%= spacing %>px; <% }
                else if (position === 'left') { %> margin-right: <%= spacing %>px; <% }
                else if (position === 'right') { %> margin-left: <%= spacing %>px; <% } %>">
    <% if (show) { %>
        <% if (position === 'top') { %>
            <!-- Render div 2 first for 'top' -->
            <div class="colorbar_ticks colorbar_ticks_<%= position %>">
                <div class="ticks ticks_<%= position %>" style="border-top: 2px solid #<%= color %>;">
                    <% 
                        var tickStart = reverseIntensity ? end : start;
                        var tickEnd = reverseIntensity ? start : end;
                        var interval = Math.floor((tickEnd - tickStart) / (ticks_parameter - 1)); 
                    %>
                    <!-- First tick (start value) -->
                    <div class="tick">
                        <div class="dash" style="background-color: #<%= color %>; height: <%= length %>px; margin-bottom:<%= tick_label_spacing %>px"></div>
                        <span class="label" style="color: #<%= color %>; font-size: <%= font_size %>px;"><%= start %></span>
                    </div>                    

                    <!-- Intermediate ticks -->
                    <% for (let i = 1; i < ticks_parameter - 1; i++) { %>
                        <div class="tick">
                            <div class="dash" style="background-color: #<%= color %>; height: <%= length %>px; margin-bottom:<%= tick_label_spacing %>px"></div>
                            <span class="label" style="color: #<%= color %>; font-size: <%= font_size %>px;">
                                <%= Math.abs(start + i * interval) %>
                            </span>
                        </div>
                    <% } %>

                    <!-- Last tick (end value) -->
                    <div class="tick">
                        <div class="dash" style="background-color: #<%= color %>; height: <%= length %>px; margin-bottom:<%= tick_label_spacing %>px"></div>
                        <span class="label" style="color: #<%= color %>; font-size: <%= font_size %>px;"><%= end %></span>
                    </div>
                     
                </div>
            </div>
            <div class="lutBg colorbar_bg"
                 style="height: <%= thickness %>px;
                        background-image: <%= reverseIntensity ? 
                           (lutBgPos === '0px 100px' ? 'linear-gradient(to right, #' + channel_color + ', black)' : 'url(/images/luts_10.png)') :
                           (lutBgPos === '0px 100px' ? 'linear-gradient(to left, #' + channel_color + ', black)' : 'url(/images/luts_10.png)') %>;
                        <%= lutBgPos !== '0px 100px' ? 'background-position: ' + lutBgPos : '' %>;">
            </div>
        <% } else { %>
            <!-- Default order for non-'top' positions -->
            <div class="lutBg colorbar_bg"
                 style="height: <%= thickness %>px;
                        background-image: <%= reverseIntensity ? 
                           (lutBgPos === '0px 100px' ? 'linear-gradient(to right, #' + channel_color + ', black)' : 'url(/images/luts_10.png)') :
                           (lutBgPos === '0px 100px' ? 'linear-gradient(to left, #' + channel_color + ', black)' : 'url(/images/luts_10.png)') %>;
                        <%= lutBgPos !== '0px 100px' ? 'background-position: ' + lutBgPos : '' %>;">
            </div>
            <div class="colorbar_ticks colorbar_ticks_<%= position %>">
                <div class="ticks ticks_<%= position %>" style="border-top: 2px solid #<%= color %>;">
                    <% 
                        var tickStart = reverseIntensity ? end : start;
                        var tickEnd = reverseIntensity ? start : end;
                        var interval = Math.floor((tickEnd - tickStart) / (ticks_parameter - 1)); 
                    %>
                    <!-- First tick (start value) -->
                    <div class="tick">
                        <div class="dash dash" style="background-color: #<%= color %>; height: <%= length %>px; margin-bottom:<%= tick_label_spacing %>px"></div>
                        <span class="label" style="color: #<%= color %>; font-size: <%= font_size %>px;"><%= start %></span>
                    </div>

                    <!-- Intermediate ticks -->
                    <% for (let i = 1; i < ticks_parameter - 1; i++) { %>
                        <div class="tick">
                            <div class="dash" style="background-color: #<%= color %>; height: <%= length %>px; margin-bottom:<%= tick_label_spacing %>px"></div>
                            <span class="label" style="color: #<%= color %>; font-size: <%= font_size %>px;">
                                <%= Math.abs(start + i * interval) %>
                            </span>
                        </div>
                    <% } %>

                    <!-- Last tick (end value) -->
                    <div class="tick">
                        <div class="dash" style="background-color: #<%= color %>; height: <%= length %>px; margin-bottom:<%= tick_label_spacing %>px"></div>
                        <span class="label" style="color: #<%= color %>; font-size: <%= font_size %>px;"><%= end %></span>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
</div>
