
    <div class="image-display-options rotation-controls">
        <button type="button" class="btn btn-outline-secondary btn-sm show-rotation" title="Rotate image">
            <span class="glyphicon glyphicon-repeat"></span>
            <i class="bi-arrow-clockwise" style="font-size: 1rem"></i>
            <span class="rotation_value"><%= rotation %></span> &deg;
        </button>

        <input type="range" class="rotation-slider" max="360" value="<%= rotation %>"></input>
        <button type="button" class="btn btn-outline-secondary btn-sm panel-rotation" title="Panel rotation">
            <i class="bi-arrow-clockwise" style="font-size: 14px"></i>
            <span>90</span> &deg;
        </button>

    </div>


    <div class="btn-group image-display-options"
         title="Maximum intensity Z-projection <% if (proj_bytes_exceeded) { print('exceeds MAX_PROJECTION_BYTES: ' + max_projection_bytes ) }
         else { %>(choose range with 2 handles on Z-slider)<% } %>">
        <button type="button" class="btn btn-outline-secondary btn-sm z-projection
                <% if(z_projection) { %>zp-btn-down<% } else if (typeof z_projection == 'boolean') { %><% } else { %>ch-btn-flat<% }%>"
                <% if ((!z_projection && proj_bytes_exceeded) || z_projection_disabled) { %>disabled="disabled"<% } %>
                >

            <img src="<%= projectionIconUrl %>" />
        </button>
    </div>

