
    <div class="flipping">
        <button type="button" class="btn btn-outline-secondary btn-sm flipping_vertical" title="Flipping Vertical">
            <i class="fas fa-arrows-alt-v"  style='font-size:16px'></i>
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm flipping_horizontal" title="Flipping Horizontal">
            <i class="fas fa-arrows-alt-h"  style='font-size:16px'></i>
        </button>
    </div>
    <div class="image-display-options rotation-controls">
        <button type="button" class="btn btn-outline-secondary btn-sm show-rotation" title="Rotate image">
            <span class="glyphicon glyphicon-repeat"></span>
            <i class="bi-arrow-clockwise" style="font-size: 1rem"></i>
        </button>

        <input type="range" class="rotation-slider" max="360" value="<%= rotation %>"></input>
    </div>


    <div class="btn-group image-display-options"
         title="Maximum intensity Z-projection (choose range with 2 handles on Z-slider)">
        <button type="button" class="btn btn-outline-secondary btn-sm z-projection
                <% if(z_projection) { %>zp-btn-down<% } else if (typeof z_projection == 'boolean') { %><% } else { %>ch-btn-flat<% }%>"
                <% if (z_projection_disabled) { %>disabled="disabled"<% } %>
                >
            <img src="<%= projectionIconUrl %>" />
        </button>
    </div>
