
    <p style="word-break: break-word"><% print(_.escape(name)) %></p>
    <div class="clearfix"></div>

    <table class="table" style="margin-bottom: 0;">
        <tbody>
            <tr><td style="border-top-width: 1px;">
                <span class="glyphicon glyphicon-share"></span> Open with:
                <% _.each(imageLinks, function(link, i) { %>
                    <% if (i > 0) {print("|")} %>
                    <a target="_blank" href="<%= link.url %>">
                        <%= link.text %>
                    </a>
                <% }) %>
            </td></tr>
            <tr><td class="row">
                <% if (isNaN(imageId)) { %>
                    <div class="col-sm-2"><small><strong>URL</strong>:</small></div>
                    <div class="col-sm-10" style="position: relative">
                        <small style="word-break: break-all;"><%= imageId %></small>
                    </div>
                <% } else { %>
                <div class="col-sm-5"><small><strong>Image ID</strong>:</small></div>
                <div class="col-sm-7" style="position: relative">
                    <small><%= imageId %></small>
                    <button type="button"
                            style="position:absolute; top:0px; right:0px"
                            <% if(!setImageId) { %>disabled="disabled"<% } %>
                            class="btn btn-small btn-success setId">
                        Edit ID
                    </button>
                </div>
                <% } %>

                <div class="col-sm-5"><small><strong>Dimensions (XY)</strong>:</small></div>
                <div class="col-sm-7"><small><%= orig_width %> x <%= orig_height %></small></div>

                <div class="col-sm-5"><small><strong>Z-sections</strong>:</small></div>
                <div class="col-sm-7"><small><%= sizeZ %></small></div>
                <div class="clearfix"></div>
                <div class="col-sm-5"><small><strong>Timepoints</strong>:</small></div>
                <div class="col-sm-7"><small><%= sizeT %></small></div>
                <div class="clearfix"></div>
                <div class="col-sm-5"><small><strong>Channels</strong>:</small></div>
                <div class="col-sm-7"><small>
                    <% _.each(channel_labels, function(c, i) {
                        print(_.escape(c)); print((i < channels.length-1) ? ", " : "");
                    }); %>
                </small></div>
                <div class="col-sm-5"><small><strong>Pixels Type</strong>:</small></div>
                <div class="col-sm-7"><small><%= pixelsType %></small></div>
            </td></tr>
        </tbody>
    </table>
