

<h5>ROIs
    <% if (panelCount > 0) { %>
        <span style="font-weight:normal; padding-left:64px"><%= roiCount %> ROIs selected</span>
    <% } %>
</h5>

<% if (panelCount > 0) { %>

<form class="form-inline" role="form">

    <div class="btn-group">

        <button type="button" class="shape-color btn btn-outline-secondary btn-sm dropdown-toggle" title="ROI Color"
            <% if (roiCount === 0) print('disabled') %>
            data-bs-toggle="dropdown">
            <span class="dropdown_icon" data-color="<%= color %>" style="background-color:#<%= color %>">&nbsp &nbsp &nbsp</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdownSelect colorpicker" role="menu">
            <!-- NB: dropdown_icon is picked on choosing dropdown, replaces icon in button above -->
            <li><a class="dropdown-item" href="#">
                <span class="dropdown_icon" data-color="000000" style="background-color:#000">&nbsp &nbsp &nbsp</span>&nbsp Black
            </a></li>
            <li><a class="dropdown-item" href="#">
                <span class="dropdown_icon" data-color="0000FF" style="background-color:#00f">&nbsp &nbsp &nbsp</span>&nbsp Blue
            </a></li>
            <li><a class="dropdown-item" href="#">
                <span class="dropdown_icon" data-color="00FF00" style="background-color:#0f0">&nbsp &nbsp &nbsp</span>&nbsp Green
            </a></li>
            <li><a class="dropdown-item" href="#">
                <span class="dropdown_icon" data-color="FF0000" style="background-color:#f00">&nbsp &nbsp &nbsp</span>&nbsp Red
            </a></li>
            <li><a class="dropdown-item" href="#">
                <span class="dropdown_icon" data-color="FFFF00" style="background-color:#ff0">&nbsp &nbsp &nbsp</span>&nbsp Yellow
            </a></li>
            <li><a class="dropdown-item" href="#">
                <span class="dropdown_icon" data-color="FFFFFF" style="background-color:#fff">&nbsp &nbsp &nbsp</span>&nbsp White
            </a></li>
            <li><a class="dropdown-item" href="#">
                <span class="dropdown_icon" data-color="FF00FF" style="background-color:#f0f">&nbsp &nbsp &nbsp</span>&nbsp Magenta
            </a></li>
            <li><a class="dropdown-item" href="#">
                <span class="dropdown_icon" data-color="00FFFF" style="background-color:#0ff">&nbsp &nbsp &nbsp</span>&nbsp Cyan
            </a></li>
        </ul>
    </div>

    <div class="btn-group">
        <button type="button" class="line-width btn btn-outline-secondary btn-sm dropdown-toggle" title="Line Width: <%= lineWidth %>"
            <% if (roiCount === 0) print('disabled') %>
            data-bs-toggle="dropdown">
            <span class='dropdown_icon' data-line-width="<%= lineWidth %>"><%= lineWidth %> pt</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdownSelect lineWidth" role="menu">

            <% _.each([0.25, 0.5, 0.75, 1, 2, 3, 4, 5, 7, 10, 15, 20, 30],function(p){ %>
                <li><a class='dropdown-item' href='#'><span data-line-width='<%= p %>'><%= p %> pt</span></a></li>
            <% }); %>

        </ul>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary copyROIs" title="Copy All ROIs"
                <% if (roiCount === 0) print('disabled') %> >
            Copy
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary pasteROIs" title="Paste ROIs"
                <% if (!canPaste) print('disabled') %> >
            Paste
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary deleteROIs" title="Delete All ROIs"
                <% if (roiCount === 0) print('disabled') %> >
            Delete
        </button>
    </div>

    <div class="float-end"
        <% if (panelCount > 1) { %>
            title="Cannot draw ROIs on multiple panels. Select a single panel"
        <% } else if (panelCount === 0) { %>
            title="Select a panel to draw ROIs"
        <% } %> >
        <button class="edit_rois btn btn-sm btn-success"
            <% if (panelCount !== 1) { %> disabled="disabled"<% } %> >
            Edit
        </button>
    </div>

</form>

<form class="form-inline clearfix" role="form" style="margin-top: 10px;">
    <div class="float-end">
        <button class="create_inset btn btn-sm btn-success">
            New Inset Panel
        </button>
    </div>

</form>
<% } %>
