
    <div class="pixel_size_form" style="position:relative">
        <div class="pixel_size_div">
            Pixel Size:
            <input class="input-sm form-control pixel_size_input" placeholder="Pixel Size (<%= pixel_size_symbol %>)"
                    style="width:100px; display:none" value="<%= pixel_size_x %>">
            <span class="pixel_size_display">
                <% if (!pixel_size_x)
                    {print('<span style="color:red">NOT SET</span>')}
                else if (typeof pixel_size_x === 'number')
                    {print(pixel_size_x.toFixed(3) + " " + pixel_size_symbol)}
                else
                    {print(pixel_size_x + " " + pixel_size_symbol)} %>
            </span>
        </div>
    </div>
    <form class="scalebar_form" style="position: relative">
        <div style="position: absolute; right: 0;">
            <% if (show){ %>
                <button type="submit" class="show_scalebar btn btn-sm btn-success pull-right">Show</button>
            <% } else { %>
                <button type="button" class="hide_scalebar btn btn-outline-secondary btn-sm pull-right">Hide</button>
            <% } %>
        </div>

        <div class="row">
            <div class="form-group col-sm-2 scalebar_text">
                Length
            </div>
            <div class="form-group col-sm-2 scalebar_length input-group-sm">
                <input type="text" class="scalebar-length form-control input-sm" 
                            placeholder="Length" value="<%= length %>" />
            </div>
            <div class="form-group col-sm-1 btn-group scalebar_unit">
                <button type="button" class="scalebar-units btn btn-outline-secondary btn-sm dropdown-toggle"
                        title="Units" data-bs-toggle="dropdown">
                    <span data-unit="<%= units %>"><%= units_symbol %></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <% _.each(unit_symbols, function(u){ %>
                        <li><a class='dropdown-item' href='#'><%= u.unit %> (<span data-unit="<%= u.unit %>"><%= u.symbol %></span>)</a></li>
                    <% }); %>
                </ul>
            </div>
            <div class="col-sm-1" />
            <div class="form-group col-sm-auto btn-group">
                <button type="button" class="label-position btn btn-outline-secondary btn-sm dropdown-toggle" 
                        title="Position" data-bs-toggle="dropdown">
                    <span data-position="<%= position %>" class="labelicon-<%= position %> glyphicon 
                        <% if (_.contains(['top','bottom','left','right'],position)) print('glyphicon-log-out'); else {print('glyphicon-new-window')} %>"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header">Inside Corners</li>
                    <li><a href="#">
                        <span data-position="topleft" class="labelicon-topleft glyphicon glyphicon-new-window"></span>
                        Top Left</a>
                    </li>
                    <li><a href="#">
                        <span data-position="topright" class="labelicon-topright glyphicon glyphicon-new-window"></span>
                        Top Right</a>
                    </li>
                    <li><a href="#">
                        <span data-position="bottomleft" class="labelicon-bottomleft glyphicon glyphicon-new-window"></span>
                        Bottom Left</a>
                    </li>
                    <li><a href="#">
                        <span data-position="bottomright" class="labelicon-bottomright glyphicon glyphicon-new-window"></span>
                        Bottom Right</a>
                    </li>
                </ul>
            </div>
            <div class="form-group col-sm-auto btn-group">
                <button type="button" class="label-color btn btn-outline-secondary btn-sm dropdown-toggle" title="Label Color"
                    data-bs-toggle="dropdown">
                    <span data-color="<%= color %>" style="background-color:#<%= color %>">&nbsp &nbsp &nbsp</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu colorpicker" role="menu">
                    <li><a class="dropdown-item" href="#">
                        <span data-color="000000" style="background-color:#000">&nbsp &nbsp &nbsp</span>&nbsp Black
                    </a></li>
                    <li><a class="dropdown-item" href="#">
                        <span data-color="0000FF" style="background-color:#00f">&nbsp &nbsp &nbsp</span>&nbsp Blue
                    </a></li>
                    <li><a class="dropdown-item" href="#">
                        <span data-color="00FF00" style="background-color:#0f0">&nbsp &nbsp &nbsp</span>&nbsp Green
                    </a></li>
                    <li><a class="dropdown-item" href="#">
                        <span data-color="FF0000" style="background-color:#f00">&nbsp &nbsp &nbsp</span>&nbsp Red
                    </a></li>
                    <li><a class="dropdown-item" href="#">
                        <span data-color="FFFF00" style="background-color:#ff0">&nbsp &nbsp &nbsp</span>&nbsp Yellow
                    </a></li>
                    <li><a class="dropdown-item" href="#">
                        <span data-color="FFFFFF" style="background-color:#fff">&nbsp &nbsp &nbsp</span>&nbsp White
                    </a></li>
                    <li><a class="dropdown-item" href="#">
                        <span data-color="FF00FF" style="background-color:#f0f">&nbsp &nbsp &nbsp</span>&nbsp Magenta
                    </a></li>
                    <li><a class="dropdown-item" href="#">
                        <span data-color="00FFFF" style="background-color:#0ff">&nbsp &nbsp &nbsp</span>&nbsp Cyan
                    </a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-2 scalebar_text">
                Height
            </div>
            <div class="form-group col-sm-2 scalebar_length input-group-sm">
                <input type="text" class="label-text scalebar-height form-control input-sm" 
                placeholder="Height" value="<%= height %>" />
            </div>
            <div class="form-group col-sm-1 scalebar_text" style="padding-left: 2px;">
                px
            </div>

            <div class="form-group col-sm-auto scalebar_text">
                Label
            </div>
            <div class="form-group col-sm-auto" style="margin: 2px">
                <input type="checkbox" class="scalebar_label" <% if (show_label) print("checked") %> /> 
            </div>
            <div class="col-sm-1 btn-group" style="padding: 0;">
                <button type="button" class="scalebar_font_size btn btn-outline-secondary btn-sm dropdown-toggle" title="Font Size"
                data-bs-toggle="dropdown" style="width:33px; <% if (!show_label) print("display:none") %>">
                    <span><%= font_size %></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                <% _.each([6,8,10,12,14,18,21,24,36,48],function(p){
                    print ("<li><a class='dropdown-item' href='#'><span>"+p+"</span></a></li>")
                }); %>
                </ul>
            </div>
            <div class="form-group col-sm-1 scalebar_text" style="padding-left: 2px;">
                <% if (show_label) print("pt") %>
            </div>
        </div>
    </form>
