<!DOCTYPE html>
<html>
<head>
	<title>Display of OME.xsd</title>
	
	<link rel="stylesheet" type="text/css" href="xsd-2-html-styles.css"/>

	<script src="../raphael-shapes/raphael-min.js" type="text/javascript"></script>
	<script src="../raphael-shapes/mousetrap.min.js" type="text/javascript"></script>
	<script src="../raphael-shapes/jquery.js" type="text/javascript"></script>
	<script src="raphael_bb.js" type="text/javascript"></script>
	<script src="underscore.js" type="text/javascript"></script>
	<script src="backbone.js" type="text/javascript"></script>
	<script src="view-shapes.js" type="text/javascript"></script>
	<script src="model-shapes.js" type="text/javascript"></script>
	<script src="undo.js" type="text/javascript"></script>


<script>
    $(function(){

        var default_line_attrs = {'stroke-width':1, 'stroke': '#ffffff', 'cursor': 'default', 'fill-opacity':0.1, 'fill': '#000'};
        var handle_attrs = {stroke:'#fff', fill:'#000', 'cursor': 'default'};
        var handle_wh = 10;


        // ----------------- ROI ------------------------
        var paper = Raphael("holder", 500, 400);
        
        var RoiView = Backbone.View.extend({
            
            initialize: function(roi) {
                roi.shapes.on("add", function(shape){
                    var view;
                    if (shape instanceof Rect) {
                        view = new RectView({model:shape, paper:paper});
                    } else if (shape instanceof Ellipse) {
                        view = new EllipseView({model:shape, paper:paper});
                    }
                    view.render();
                });
            }
        });

        
        // ------------------------ Try it out! ---------------------------
        
        var roi = new ROI();
        
        var undoManager = new UndoManager();
        undoManager.addListener(roi.shapes);
        var undoView = new UndoView({model:undoManager});
        
        var roiVw = new RoiView(roi);
        
        roi.addRect({x: 50, y:100, width:200, height:75});
        roi.addRect({x: 333, y:333, width:33, height:33});
        roi.addEllipse({cx: 200, cy:200, rx: 30, ry:80});

/*
        $("#undo").click(function(){
            undoManager.undo();
        });
        $("#redo").click(function(){
            undoManager.redo();
        }); */
    });
    
</script>

	<style type="text/css" media="screen">
                #holder {
                    -moz-border-radius: 10px;
                    -webkit-border-radius: 10px;
                    border: solid 1px #333;
                    background: #ccc;
                    cursor: pointer;
                }
                p {
                    text-align: center;
                }
            </style>
</head>

<body>
    <div id="controls">
        <input type="radio" name="state" value="SELECT" checked="checked">Select 
        <input type="radio" name="state" value="CREATE_RECT">Rect 
        <input type="radio" name="state" value="CREATE_LINE">Line 
        <input type="radio" name="state" value="CREATE_POLYLINE">Polyline 
        <input type="radio" name="state" value="CREATE_POLYGON">Polygon
        
        | Default square size: <input id="default_square_size" type="text" />
        
        <select id="color_select" style="background: #ff0000">
            <option style="background: #ff0000" value="#ff0000">Red</option>
            <option style="background: #00ff00" value="#00ff00">Green</option>
            <option style="background: #0000ff" value="#0000ff">Blue</option>
            <option style="background: #ffff00" value="#ffff00">Yellow</option>
            <option style="background: #00ffff" value="#00ffff">Cyan</option>
            <option style="background: #ff00ff" value="#ff00ff">Purple</option>
            <option style="background: #ffffff" value="#ffffff">White</option>
            <option style="background: #000000" value="#000000">Black</option>
        </select>
        
        <span id="undoControls">
            <button id="undo" class="undo" value="undo">Undo</button>
            <button id="redo" class="redo" value="redo">Redo</button>
        </span>
    </div>
    <div id="holder"></div>
</body>