<!DOCTYPE html>
<html>
<head>
	<title>ROIs with backbone.js</title>
	
    {% include "webgateway/base/includes/script_src_jquery.html" %}
    <script src="{% static 'weblabs/3rdparty/json2.js' %}"></script>
    <script src="{% static 'weblabs/3rdparty/underscore.js' %}"></script>
    <script src="{% static 'weblabs/3rdparty/backbone.js' %}"></script>
    <script src="{% static 'weblabs/3rdparty/raphael-min.js' %}"></script>
    
    <script src="{% static 'weblabs/js/raphael-backbone/view-shapes.js' %}"></script>
    <script src="{% static 'weblabs/js/raphael-backbone/model-shapes.js' %}"></script>
    <script src="{% static 'weblabs/js/raphael-backbone/undo.js' %}"></script>


<script>
    $(function(){

        var default_line_attrs = {'stroke-width':1, 'stroke': '#ffffff', 'cursor': 'default', 'fill-opacity':0.1, 'fill': '#000'};
        var handle_attrs = {stroke:'#fff', fill:'#000', 'cursor': 'default'};
        var handle_wh = 10;


        // ----------------- ROI ------------------------
        var paper = Raphael("holder", {{ image.getSizeX }}, {{ image.getSizeY }});
        
        
        // This ROI-View doesn't SHOW anything on paper:
        // - Just binds creation of Shape-Views to shape creation.
        var RoiView = Backbone.View.extend({
            
            initialize: function(roi) {
                
                // Add Views for any existing shapes models
                roi.shapes.each(this.create_shape_view);
                
                // If a shape is added, Create View for that too
                roi.shapes.on("add", this.create_shape_view);
            },
            
            create_shape_view: function(shape) {
                var view = undefined,
                    type = shape.get('type');
                if (type === "Rectangle") {
                    view = new RectView({model:shape, paper:paper});
                } else if (type === "Ellipse") {
                    view = new EllipseView({model:shape, paper:paper});
                }
                if (view) {
                    view.render();
                }
            }
        });
        
        
        
        
        // Main manager of ROI views. E.g. for canvas and table
        var RoiViewManager = Backbone.View.extend({
            
            initialize: function(rois) {
                rois.on("all", function(o, n) {
                    //console.log("all", o,n);
                });
                rois.on("sync", function() {
                    rois.each(function(model, i){
                        new RoiView(model);
                    });
                });
                rois.on("add", function(roi){
                    new RoiView({model: roi});
                });
            }
        });

        
        // ------------------------ Try it out! ---------------------------

        // Create Model - list of ROIs.
        var ROIS = new RoiList;
        // View of this - Handles creation of RoiViews
        var manager = new RoiViewManager(ROIS);


        // Undo Model and View
        var undoManager = new UndoManager(),
            undoView = new UndoView({model:undoManager});
        // Listen for changes to ROIs (and Shapes)
        undoManager.addListener(ROIS);


        // Url is dynamic (from Django)
        ROIS.url = "{% url webgateway_get_rois_json image.id %}";
        // Fetch ROI json!
        ROIS.fetch();


        //roi.addRect({x: 50, y:100, width:200, height:75});
        //roi.addRect({x: 333, y:333, width:33, height:33});
        //roi.addEllipse({cx: 200, cy:200, rx: 30, ry:80});


        $("#addShape").click(function(){
            ROIS.at(0).shapes.create({type:'Ellipse', cx: 200, cy:200, rx: 30, ry:80});
        });

    });
    
</script>

	<style type="text/css" media="screen">
                #holder {
                    -moz-border-radius: 10px;
                    -webkit-border-radius: 10px;
                    border: solid 1px #333;
                    background: #ccc;
                    cursor: pointer;
                }
                p {
                    text-align: center;
                }
            </style>
</head>

<body>
    <div id="controls">
        <input type="radio" name="state" value="SELECT" checked="checked">Select 
        <input type="radio" name="state" value="CREATE_RECT">Rect 
        <input type="radio" name="state" value="CREATE_LINE">Line 
        <input type="radio" name="state" value="CREATE_POLYLINE">Polyline 
        <input type="radio" name="state" value="CREATE_POLYGON">Polygon
        
        | Default square size: <input id="default_square_size" type="text" />
        
        <select id="color_select" style="background: #ff0000">
            <option style="background: #ff0000" value="#ff0000">Red</option>
            <option style="background: #00ff00" value="#00ff00">Green</option>
            <option style="background: #0000ff" value="#0000ff">Blue</option>
            <option style="background: #ffff00" value="#ffff00">Yellow</option>
            <option style="background: #00ffff" value="#00ffff">Cyan</option>
            <option style="background: #ff00ff" value="#ff00ff">Purple</option>
            <option style="background: #ffffff" value="#ffffff">White</option>
            <option style="background: #000000" value="#000000">Black</option>
        </select>
        
        <span id="undoControls">
            <button id="undo" class="undo" value="undo">Undo</button>
            <button id="redo" class="redo" value="redo">Redo</button>
        </span>
        
        <button id="addShape" title="Add Shape to ROI[0]">Add Shape</button>
    </div>
    <div id="holder" style="width:{{ image.getSizeX }}px; height:{{ image.getSizeY }}px"></div>
</body>