
    <% if (disabled) { %>
        <td>
            <% if(imageId > 0) { print("<img class='small-thumb' src='" + thumbSrc + "' />") } %>
        </td>
        <td title="This figure is currently open">
            <div style="width:400px; word-wrap:break-word;">
                <%= name %>
            </div>
        </td>
    <% } else { %>
        <td>
            <a href="{% url 'figure_index' %}file/<%= id %>">
                <% if(imageId > 0) { print("<img class='small-thumb' src='" + thumbSrc + "' />") } %>
            </a>
        </td>
        <td>
            <div style="width:400px; word-wrap:break-word;">
                <a href="{% url 'figure_index' %}file/<%= id %>"><%= name %></a>
            </div>
        </td>
    <% } %>
    <td>
        <%= formatDate(creationDate) %>
    </td>
    <td>
        <%= ownerFullName %>
    </td>
