<h1>Release History</h1>
<p>A summary of OMERO.figure releases. Follow the links for
  full release announcements:</p>

<h4>
  <a href="{{ site.baseurl }}/2016/04/20/release-1.2.1.html">
    1.2.1: {{ "2016-04-20" | date_to_string }}
  </a>
</h4>
<ul>
  <li>Improvements to performance and filtering in the File > Open dialog</li>
  <li>Small number of minor bug fixes</li>
</ul>

<h4>
  <a href="{{ site.baseurl }}/2015/11/24/release-1.2.0.html">
    1.2.0: {{ "2015-11-24" | date_to_string }}
  </a>
</h4>
<ul>
  <li>Addition of ROIs on figure panels</li>
  <li>Draw rectangles, ellipses, lines and arrows</li>
  <li>Copy and paste ROIs between image panels</li>
  <li>Use ROI rectangles as crop regions on other images</li>
</ul>

<h4>
  <a href="{{ site.baseurl }}/2015/05/05/release-1.1.1.html">
    1.1.1: {{ "2015-05-05" | date_to_string }}
  </a>
</h4>
<ul>
  <li>Minor release with a small number of bug-fixes and tweaks</li>
</ul>

<h4>
  <a href="{{ site.baseurl }}/2015/04/20/release-1.1.0.html">
    1.1.0: {{ "2015-04-20" | date_to_string }}
  </a>
</h4>
<ul>
  <li>Multi-page figures</li>
  <li>Crop panel images to region or ROI</li>
  <li>Add figure legend</li>
  <li>Export of figures as TIFF images</li>
</ul>

<h4>
  <a href="{{ site.baseurl }}/2015/04/02/release-1.0.1.html">
    1.0.1: {{ "2015-04-02" | date_to_string }}
  </a>
</h4>
<ul><li>Minor release to add compatibility for OMERO 5.1</li></ul>

<h4>
  <a href="{{ site.baseurl }}/2014/10/06/release-1.0.0.html">
    1.0.0: {{ "2014-10-07" | date_to_string }}
  </a>
</h4>
<ul>
  <li>First non-beta release</li>
  <li>Maximum-intensity projection</li>
  <li>Z and T index incrementing</li>
</ul>

<h4>1.0.0-beta2: {{ "2014-06-21" | date_to_string }}</h4>
<ul>
  <li>Various bug fixes in the web UI and figure export script</li>
  <li>File > Open file list sortable and filtered by owner</li>
</ul>

<h4>1.0.0-beta1: {{ "2014-03-11" | date_to_string }}</h4>
<ul><li>First beta release</li></ul>