
<tr class="roiPickMe">
    <td>
        <div class="roi_wrapper" style="position: relative; overflow: hidden; margin: 5px; height: <%= h %>px; width: <%= w %>px">
            <img class="roi_content"
                data-roiId="<%= roiId %>"
                data-x="<%= rect.x %>" data-y="<%= rect.y %>" 
                data-width="<%= rect.width %>" data-height="<%= rect.height %>"
                data-theT="<%= rect.theT %>" data-theZ="<%= rect.theZ %>"
                style="position: absolute; top: <%= top %>px; left: <%= left %>px; width: <%= img_w %>px; height: <%= img_h %>px" src="<%= src %>" />
        </div>
    </td>
    <td>
        <%= zStart %>
        <% if (zStart !== zEnd) print(" - " + zEnd); %>
    </td>
    <td>
        <%= tStart %>
        <% if (tStart !== tEnd) print(" - " + tEnd); %>
    </td>
</tr>
