<html>
    <!-- various dependencies of figure.js (mostly not needed on this page) -->
    <script src="{% static 'figure/3rdparty/jquery-1.11.1/jquery.min.js' %}"></script>
    <script src="{% static 'figure/3rdparty/underscore-1.13.1-umd-min.js' %}"></script>
    <script src="{% static 'figure/3rdparty/backbone-1.0.0.js' %}"></script>
    <script src="{% static 'figure/3rdparty/jspdf-2.4.0/jspdf.umd.min.js' %}"></script>

    <script src="{% static 'figure/figure_models.js' %}"></script>

    <script src="{% static 'figure/figure_export.js' %}"></script>

    <body>

    </body>

<script>

    const FILE_ID = {{ file_id }};

    const BASE_WEBFIGURE_URL = "{% url 'figure_index' %}";
    const WEBGATEWAYINDEX = "{% url 'webgateway' %}";
    const WEBINDEX_URL = "{% url 'webindex' %}";

    const MAX_PLANE_SIZE = 3000 * 3000;  // needed by FigureModel

    var figureExport = new FigureExport();


    figureExport.load_from_OMERO(FILE_ID, function() {
        const pdfData = figureExport.exportPdf();
        var embed = "<embed width='100%' height='100%' src='" + pdfData + "'/>"
        document.write(embed);
    });

</script>

</html>