<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Viewport from Scratch</title>

{% include "webgateway/base/includes/script_src_jquery.html" %}

<script type="text/javascript" src="{% static "3rdparty/jquery.mousewheel.js" %}"></script>
<script type="text/javascript" src="{% static "weblabs/js/viewport.js" %}"></script>

<script>

(function( $ ){

    var get_src;
    
    var methods = {

    init : function( options ) {

        get_src = options['get_src'];

        return this.each(function(){
            var $this = $(this),
                data = $this.data('src_loader');

            // If the plugin hasn't been initialized yet
            if ( ! data ) {

                var data = {};
                if (options['image_id']) data['image_id'] = options['image_id'];
                // query_opts are used to generate query string for img src.
                if (options['query_opts']) data['query_opts'] = options['query_opts'];
                if (options['sizeZ']) data['sizeZ'] = options['sizeZ'];
                if (options['sizeT']) data['sizeT'] = options['sizeT'];
                if (options['theZ']) {
                    data['theZ'] = options['theZ'];
                } else data['theZ'] = 0;
                if (options['theT']) {
                    data['theT'] = options['theT'];
                } else data['theT'] = 0;


                $this.mousewheel(function (e, delta) {
                    //console.log(e, delta)
                    var incr = delta > 0 ? 1 : -1;
                    methods.increment_z.apply($this, [incr]);
                    e.preventDefault();
                });

                $this.data('src_loader', data);
                
            }
        });
    },

    increment_z : function(incr) {
        return this.each(function(){
            var $this = $(this),
                data = $this.data('src_loader');

            var theZ = data['theZ'] + incr;
            methods.load_src.apply( $this, [theZ] );
        });
    },

    load_src : function(theZ, theT) {

        return this.each(function(){
            var $this = $(this),
                data = $this.data('src_loader');

            var load_msg = "";
            if (typeof theZ == 'number' && theZ >= 0){
                if (typeof data['sizeZ'] == 'undefined' || theZ < data['sizeZ']) {
                    data['theZ'] = theZ;
                    $this.data('src_loader', data);
                    load_msg += "Z: " + theZ;
                }
            }
            if (typeof theT == 'number' && theT >= 0){
                if (typeof data['sizeT'] == 'undefined' || theT < data['sizeT']) {
                    data['theT'] = theT;
                    $this.data('src_loader', data);
                    load_msg += "T: " + theT;
                }
            }

            var src = get_src(data['image_id'], data['theZ'], data['theT']);
            
            var rcb = function () {
                //after_img_load_cb(callback);
                $this.unbind('load', rcb);
                if (src == $this.attr('src')) {
                    // if another src update hasn't started loading again, clear load msg
                    $this.trigger('status', [load_msg]);
                }
            };
            if (data['query_opts'] && Object.keys(data['query_opts']).length > 0) {
                var query = [];
                for (q in data['query_opts']) {
                    query.push(q + "=" + data['query_opts'][q]);
                }
                src += "?" + query.join("&");
            }
            if (src != $this.attr('src')){
                $this.trigger('status', ["Load.." + load_msg]);
                $this.load(rcb);
                $this.attr('src', src);
            }
        });
    },

    destroy : function( ) {

        return this.each(function(){

            var $this = $(this),
                data = $this.data('src_loader');

            data.src_loader.remove();
            $this.removeData('src_loader');
        });
    }
    };

    $.fn.src_loader = function( method ) {

        if ( methods[method] ) {
          return methods[method].apply( this, Array.prototype.slice.call( arguments, 1 ));
        } else if ( typeof method === 'object' || ! method ) {
          return methods.init.apply( this, arguments );
        } else {
          $.error( 'Method ' +  method + ' does not exist on jQuery.src_loader' );
        }
    };

})( jQuery );

</script>


<script type="text/javascript">

$(document).ready(function() {

    $("#button1").click(function(){
        $("#vp1")
            .src_loader({
                image_id: {{ image.id }},
                get_src: function(image_id, theZ, theT) {
                    return "{% url webgateway %}render_image/"+ image_id +"/"+ theZ +"/"+ theT +"/";
                },
                //query_opts: {"p": "intmax"},
                theZ: {{ image.getDefaultZ }},
                sizeZ: {{ image.getSizeZ }},
                sizeT: {{ image.getSizeT }}
            })
            .viewport({
                orig_width: {{ image.getSizeX }},
                orig_height: {{ image.getSizeY }},
                wrapwidth: 250,
                wrapheight: 250
            });
        
        $(".split").viewport({
            orig_width: {{ image.getSizeX }},
            orig_height: {{ image.getSizeY }},
            wrapwidth: 150,
            wrapheight: 150,
            klass: 'layout'
        }).each(function(i){
            $(this).src_loader({
                image_id: {{ image.id }},
                get_src: function(image_id, theZ, theT) {
                    return "{% url webgateway %}render_image/"+ image_id +"/"+ theZ +"/"+ theT +"/";
                },
                query_opts: {"c": i+1},  // channels are 1-based
                theZ: {{ image.getDefaultZ }},  // theZ and theT are 0 by default
                sizeZ: {{ image.getSizeZ }},
                sizeT: {{ image.getSizeT }}
            })
        });
        
        $(".vp").viewport("zoomToFit");
    });
    
    $("#button2").click(function(){
        $(".vp").viewport("setZoom", 50);
    });
    
    $("#button3").click(function(){
        $(".vp").viewport("zoomToFit");
    });
    
    $("#button4").click(function(){
        $(".vp").viewport("setZoom", 100);
    });
    
    $("#button5").click(function(){
        $(".vp").viewport("doZoom", 10);
    });
    
    $("#button6").click(function(){
        $(".vp").viewport("doZoom", -10);
    });
    
    $("#button7").click(function(){
        $(".vp").viewport("doMove", -25, -25);
    });
    
    $("#button8").click(function(){
        $(".vp").src_loader("load_src", 10);
    });
    
    
    $("#button1").click();  // init viewports
    
});
</script>

<style type="text/css">
    .body {
        font-family: arial;
    }
    .layout {
        display: inline-block;
        margin:10px;
    }
    .zoom_1_1, .zoom_to_fit {
        background-color: #eee;
        margin-right: 2px;
        color: black;
        width: 22px;
        height: 15px;
        border-width: 0px;
        border-radius: 5px;
        position: relative;
        top:4px;
    }
    .zoom_in, .zoom_out {
        position: absolute;
        left: 5px;
        border: 0px solid #9EA5AC;
        background-color: black;
        width: 10px;
        height: 10px;
    }
    .zoom_in {
        top: 2px;
        background: url("{% static 'webgateway/img/white_arrow_up.gif' %}") no-repeat scroll center center transparent;
    }
    .zoom_out {
        top: 12px;
        background: url("{% static 'webgateway/img/white_arrow_down.gif' %}") no-repeat scroll center center transparent;
    }
    .zoom_percent {
        position: absolute;
        top:3px;
        left:3px;
        background-color: black;
        color: white;
        font-family: arial;
        font-size: 15px;
    }
    .cur_zoom {
        float: left;
        padding: 3px;
        padding-left: 20px;
    }
    .viewport-msg {
        color: #fff;
        font-weight: bold;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        z-index: 1000;
    }
</style>


</head>

<body>
    
    <button id="button1">Init viewports</button>
    <button id="button2">Zoom to 50%</button>
    <button id="button3">Zoom to fit</button>
    <button id="button4">Zoom to 100%</button>
    <button id="button5" title="Zoom In">+</button>
    <button id="button6" title="Zoom Out">-</button>
    <button id="button7">Move Up and Left</button>
    <button id="button8">Z = 10</button>

    <br />
    <img class="vp" id="vp1" src="{% url webgateway.views.render_image image.id %}" />

    <img class="vp split layout" id="vp2" src="{% url webgateway.views.render_image image.id %}?c=1" />
    <img class="vp split layout" id="vp3" src="{% url webgateway.views.render_image image.id %}?c=2" />
    <img class="vp split layout" id="vp3" src="{% url webgateway.views.render_image image.id %}?c=3" />

</body>