<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>FigureShop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{% static 'weblabs/3rdparty/bootstrap3/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'weblabs/css/figureshop.css' %}">

    {% include "webgateway/base/includes/script_src_jquery.html" %}
    {% include "webgateway/base/includes/jquery-ui.html" %}
    <link rel="stylesheet" href="{% static "3rdparty/jquery-ui-1.8.19/themes/base/jquery.ui.base.css" %}" type="text/css" />
    <script>

    $(document).ready(function() {


        var figureModel = new FigureModel( {'canvas_width': 10000, 'canvas_height': 6000,
                'paper_width': 2000, 'paper_height': 3000});

        // UI Model (not saved - just used to coordinate UI status)
        // var uiState = new UiState( {model:figureModel} )

        var view = new FigureView( {model: figureModel});   // uiState: uiState
        var svgView = new SvgView( {model: figureModel});
        new RightPanelView({model: figureModel});

        $("#zoom_slider").slider({
            max: 100,
            min: 10,
            value: 20,
            slide: function(event, ui) {
                figureModel.set('curr_zoom', ui.value);
            }
        });

        // Do this after other setup above
        figureModel.set('curr_zoom', 20);

        // Undo Model and View
        var undoManager = new UndoManager({'figureModel':figureModel}),
            undoView = new UndoView({model:undoManager});
        // Listen for changes to ROIs (and Shapes)
        undoManager.listenToCollection(figureModel.panels);


        // Finally, load Panels from localStorage (if any)
        figureModel.panels.fetch();
        figureModel.clearSelected();    // reset selection (all saved as 'true')


        $(".modal-dialog").draggable();

        $('#previewInfoTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });

    </script>

    <style type="text/css">

        /* Over-riding Bootstrap Styles */
        .modal-header {
            padding: 10px;
        }
        .modal-body {
            padding: 15px;
        }
        .nav > li > a {
            padding: 7px 15px;
        }
        .non-modal-dialog {
            position:relative;
            left:auto;
            margin-right:20px;
            padding-top:0px;
            top:40px;
            width:375px;
        }
        .tab-pane {
            padding: 10px;
        }
        .btn-group > .btn + .dropdown-toggle {
            padding-left: 3px;
            padding-right: 3px;
        }
    </style>

</head>

<body id="body">

    <header>HEADER
        <div style="float:right; padding-right:20px">
            <span id="undoControls">
                <button id="undo" class="undo" value="undo">Undo</button>
                <button id="redo" class="redo" value="redo">Redo</button>
            </span>
            <button class="add_panel" title="Add a panel">+</button>
            <select id="paper_size_chooser">
                <option value="2000,3000">custom 2000 x 3000</option>
                <option value="612.0,792.0">letter (300 dpi)</option>
                <option value="595.27559055118104,841.88976377952747">A4 (300 dpi)</option>
            </select>
        </div>
    </header>

    <main>
        <div id="canvas_wrapper" class="canvas_wrapper">
            <!-- <div id="canvas_overlay"></div> -->
            <article id="canvas">
                <div id="paper"></div>
            </article>
        </div>
    </main>

    <footer>
        <div id="zoom_slider" title="Zoom"></div>
        <input id="zoom_input" type="text" size="3" maxlength="3" disabled="disabled" title="zoom"/>
    </footer>


    <!-- Hacked Bootstrap's modal dialog to be non-modal -->
    <div class="modal-dialog non-modal-dialog">
        <div class="modal-content">

            <ul class="nav nav-tabs" id="previewInfoTabs">
                <li><a href="#infoTab">Info</a></li>
                <li class="active"><a href="#previewTab">Preview</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane" id="infoTab">Info...</div>
                <div class="tab-pane active" id="previewTab">
                    <div id="channelToggle"></div>
                </div>
            </div>

        </div>
    </div>


    <!-- Templates for Backbone Views -->

    <script id="figure_panel_template" type="text/template">
        <img class="img_panel" src="/webgateway/render_image/<%= imageId %>/?c=<%= renderString %>" 
            style="width:<%= width %>px; height:<%= height %>px" />
    </script>

    <script id="channel_toggle_template" type="text/template">
        <% _.each(channels, function(c, i) { %>
            <div class="btn-group" style="padding:2px">
                <button type="button"
    class="btn btn-default channel-btn <% if(c.active) { %>ch-btn-down<% } else if (typeof c.active == 'boolean') { %>ch-btn-up<% } else { %>ch-btn-flat<% }%>"
                        data-index="<%= i %>"
                        style="background-color:#<%= c.color %>">
                    &nbsp
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" data-index="<%= i %>">
                    <li class="dropdown-header">Channel Colour</li>
                    <li class="divider"></li>
                    <li><a data-colour="0000FF" href="#">
                        <span style="background-color:#00f">&nbsp &nbsp &nbsp</span>&nbsp Blue
                    </a></li>
                    <li><a data-colour="00FF00" href="#">
                        <span style="background-color:#0f0">&nbsp &nbsp &nbsp</span>&nbsp Green
                    </a></li>
                    <li><a data-colour="FF0000" href="#">
                        <span style="background-color:#f00">&nbsp &nbsp &nbsp</span>&nbsp Red
                    </a></li>
                    <li><a data-colour="FFFF00" href="#">
                        <span style="background-color:#ff0">&nbsp &nbsp &nbsp</span>&nbsp Yellow
                    </a></li>
                    <li><a data-colour="FFFFFF" href="#">
                        <span style="background-color:#fff">&nbsp &nbsp &nbsp</span>&nbsp White
                    </a></li>
                    <li><a data-colour="FF00FF" href="#">
                        <span style="background-color:#f0f">&nbsp &nbsp &nbsp</span>&nbsp Magenta
                    </a></li>
                </ul>
            </div><br>
        <% }); %>
    </script>


    <script src="{% static 'weblabs/3rdparty/json2.js' %}"></script>
    <script src="{% static 'weblabs/3rdparty/underscore.js' %}"></script>
    <script src="{% static 'weblabs/3rdparty/backbone.js' %}"></script>
    <script src="{% static 'weblabs/3rdparty/backbone-localstorage.js' %}"></script>
    <script src="{% static 'weblabs/3rdparty/raphael-min.js' %}"></script>
    <script src="{% static 'weblabs/3rdparty/mousetrap/mousetrap.min.js' %}"></script>
    <script src="{% static 'weblabs/3rdparty/backbone.mousetrap/backbone.mousetrap.js' %}"></script>
    <script src="{% static 'weblabs/3rdparty/bootstrap3/js/bootstrap.js' %}"></script>

    <script type="text/javascript" src="{% static 'weblabs/js/figureshop/figureshop.js' %}"></script>
    <script type="text/javascript" src="{% static 'weblabs/js/figureshop/undo.js' %}"></script>
    <script type="text/javascript" src="{% static 'weblabs/js/figureshop/raphael-rect.js' %}"></script>

</body>

</html>