<script>

$(document).ready(function() {
    
    $("#rotation_3d_tab").omeroweb_right_plugin({
        plugin_index: {{ forloop.counter }},        // This MUST be defined
        load_tab_content: function(selected, obj_dtype, obj_id) {    // This MUST be defined
            $(this).load('{% url weblabs_index %}rotation_3d_viewer/'+obj_id+'/');
        },
        //supported_obj_types: ['image','dataset'],   // E.g. only support single image/dataset selected
        
        // OR provide more detailed selection criteria
        tab_enabled: function(selected) {
            var obj_id = selected[0]['id']; // E.g. image-123
            var obj_type = obj_id.split('-')[0];
            return ((obj_type == "image") && (selected.length == 1));
        }
        
    });
    
});

</script>