


    <table id="xywh_table" class="table">
        <tbody>
            <tr><td>
                Panel

                <form class="form-inline pull-right">
                    <div class="checkbox">
                        <%= dpi %> dpi

                        <% if (export_dpi) { %>
                        (Export at <%= export_dpi %> dpi
                        <button type="button" title="Delete Label" class="close clear_dpi"
                            title="Remove (don't change dpi on export)"
                            aria-hidden="true" style="float: none; left: 0; margin: 0; top: -2px;">×</button>
                        <label>)</label>
                        <% } %>
                    </div>
                    <button class="btn btn-sm btn-success set_dpi"
                        title="Resample to a higher dpi at export">Set dpi</button>
                </form>
                
            </td></tr>
            <tr><td>
                <form class="form-horizontal xywh_form" role="form">
                    <div class="form-group col-sm-6">
                        <label class="col-lg-2 control-label">X</label>
                        <div class="col-lg-8">
                            <input name="x" class="form-control" value="<%= x %>">
                        </div>
                    </div>
                    <div class="form-group col-sm-6" style="float:right">
                        <label for="inputPassword" class="col-lg-2 control-label">Y</label>
                        <div class="col-lg-8">
                            <input name="y" class="form-control" value="<%= y %>">
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-lg-2 control-label">Width</label>
                        <div class="col-lg-8">
                            <input name="width" class="form-control" value="<%= width %>">
                        </div>
                    </div>
                    <div class="form-group col-sm-6" style="float:right">
                        <label for="inputPassword" class="col-lg-2 control-label">Height</label>
                        <div class="col-lg-8">
                            <input name="height" class="form-control" value="<%= height %>">
                        </div>
                    </div>
                </form>
            </td></tr>
        </tbody>
    </table>
