


    <table id="xywh_table" class="table">
        <tbody>
            <tr><td>
                Panel

                <form class="form-inline pull-right">
                    <div class="checkbox">
                        <label>
                            <%= dpi %> dpi
                        </label>
                    </div>
                    <button class="btn btn-sm btn-success set_dpi">Set dpi</button>
                </form>
                
            </td></tr>
            <tr><td>
                <div class="col-sm-3" style="text-align: right"><small><strong>X</strong>:</small></div>
                <div class="col-sm-3"><small><% print(x) %></small></div>

                <div class="col-sm-3" style="text-align: right"><small><strong>Width</strong>:</small></div>
                <div class="col-sm-3"><small><% print(width) %></small></div>

                <div class="col-sm-3" style="text-align: right"><small><strong>Y</strong>:</small></div>
                <div class="col-sm-3"><small><% print(y) %></small></div>

                <div class="col-sm-3" style="text-align: right"><small><strong>Height</strong>:</small></div>
                <div class="col-sm-3"><small><% print(height) %></small></div>
            </td></tr>
        </tbody>
    </table>
