
<h5 style="margin-top:6px">
    View
    <span style="font-weight:normal; float:right">
        x: <%= x %>, y: <%= y %>, width: <%= width %>, height: <%= height %>
    </span>
</h5>

<div class="btn-group">
    <button type="button" class="btn btn-sm btn-default copyCropRegion" title="Copy crop region"
        <% if (!canCopyRect) print('disabled') %> >
        Copy
    </button>
    <button type="button" class="btn btn-sm btn-default pasteCropRegion" title="Paste crop region"
        <% if (!canPasteRect) print('disabled') %> >
        Paste
    </button>
    <button type="button" class="btn btn-sm btn-default reset-zoom-shape" title="Reset crop">
        Reset
    </button>
</div>

<button class="pull-right crop-btn btn btn-sm btn-success">
    Crop
</button>
