<html>
<head>
	<title>Display of OME.xsd</title>
	
	<link rel="stylesheet" type="text/css" href="xsd-2-html-styles.css"/>

	<script src="jquery.js" type="text/javascript"></script>
	<script src="raphael-min.js" type="text/javascript"></script>
	
<script>
var handle_wh = 18;

var handle_attrs = {stroke:'#fff', fill:'#000', 'cursor': 'default'};
var line_attrs = {'stroke-width':1, 'stroke': '#ffffff', 'cursor': 'default', 'fill-opacity':0.1, 'fill': '#000'};
var selected_line_attrs = {'stroke': '#00a8ff', 'fill-opacity':0.3}


// Rectangle shape
function Rectangle(paper, id, x, y, width, height, handle_shape_click) {

    console.log("Rect", this);
    this.paper = paper;
    this.id = id;
    this.x = x; this.y = y; this.width = width; this.height = height;
    //this.handle_shape_click = handle_shape_click;
    var self = this;

    // draw rectangle
    self.rect = self.paper.rect(self.x, self.y, self.width, self.height).attr(line_attrs);
    self.rect.rect_obj = self;
    
    var drag_cb = function () {
        return function(dx, dy) {
            console.log('handleDrag rect', this);
            //return;
            this.rect_obj.x = dx+this.ox;
            this.rect_obj.y = this.oy+dy;
            this.rect_obj.updateShape();
        };
      }
    var dragstart_cb = function() {
        return function() {
            // START drag: note the location of all points (copy list)
            console.log("START", self, this);
            this.ox = this.attr('x');
            this.oy = this.attr('y');
        }
    }
    
    self.rect.drag(
        drag_cb(),
        /*
        function(dx, dy) {
            console.log('handleDrag rect', this);
            //return;
            this.rect_obj.x = dx+this.ox;
            this.rect_obj.y = this.oy+dy;
            this.rect_obj.updateShape();
        }, */
        dragstart_cb()
        /*
        function() {
            // START drag: note the location of all points (copy list)
            console.log("START", self, this);
            this.ox = this.attr('x');
            this.oy = this.attr('y');
        } */
    );
    
    // map of centre-points for each handle
    this.handleIds = {'nw': [this.x, this.y],
        'n': [this.x+this.width/2,this.y],
        'ne': [this.x+this.width,this.y],
        'w': [this.x, this.y+this.height/2],
        'e': [this.x+this.width, this.y+this.height/2],
        'sw': [this.x, this.y+this.height],
        's': [this.x+this.width/2, this.y+this.height],
        'se': [this.x+this.width, this.y+this.height]};
    
    // draw handles
    self.handles = paper.set();
    for (var key in this.handleIds) {
        var hx = this.handleIds[key][0];
        var hy = this.handleIds[key][1];
        var handle = self.paper.rect(hx-handle_wh/2, hy-handle_wh/2, handle_wh, handle_wh).attr(handle_attrs);
        handle.attr({'cursor': key + '-resize'});     // css, E.g. ne-resize
        handle.id = key;
        handle.rect = self;

        handle.drag(
            function (dx, dy) {
                // on DRAG: update the location of the handle and the corresponding point of the parent
                var new_x = this.ox + dx;
                var new_y = this.oy + dy;
                if (this.id.indexOf('e') > -1) {    // if we're dragging an 'EAST' handle, update width
                    this.rect.width = new_x - self.x + handle_wh/2;
                }
                if (this.id.indexOf('s') > -1) {    // if we're dragging an 'SOUTH' handle, update height
                    this.rect.height = new_y - self.y + handle_wh/2;
                }
                if (this.id.indexOf('n') > -1) {    // if we're dragging an 'NORTH' handle, update y and height
                    this.rect.y = new_y + handle_wh/2;
                    this.rect.height = this.obottom - new_y;
                }
                if (this.id.indexOf('w') > -1) {    // if we're dragging an 'WEST' handle, update x and width
                    this.rect.x = new_x + handle_wh/2;
                    this.rect.width = this.oright - new_x;
                }
                this.rect.updateShape();
                //this.polyline.points_list[this.id] = [(this.ox + dx + handle_wh/2),(this.oy + dy + handle_wh/2)];
                //this.polyline.updateShape();
            },
            function () {
                // START drag: simply note the location we started
                this.ox = this.attr("x");
                this.oy = this.attr("y");
                this.oright = self.width + this.ox;
                this.obottom = self.height + this.oy;
                console.log("START", this.obottom);
            }
        );
        self.handles.push(handle);
    }

    //self.handles.hide();     // show on selection

    // selection happens on mouse-down. E.g. start drag.
    self.rect.mousedown(function() {
        self.handle_shape_click();
    });

};

Rectangle.prototype.updateShape = function() {
    // need to update the location of all handles and rectangle
    this.rect.attr({'x':this.x, 'y':this.y, 'width':this.width, 'height':this.height});
    
    this.handleIds = {'nw': [this.x, this.y],
        'n': [this.x+this.width/2,this.y],
        'ne': [this.x+this.width,this.y],
        'w': [this.x, this.y+this.height/2],
        'e': [this.x+this.width, this.y+this.height/2],
        'sw': [this.x, this.y+this.height],
        's': [this.x+this.width/2, this.y+this.height],
        'se': [this.x+this.width, this.y+this.height]};
    for (var h=0; h<this.handles.length; h++) {
        var hnd = this.handles[h];
        var h_id = hnd.id;
        var hx = this.handleIds[h_id][0];
        var hy = this.handleIds[h_id][1];
        hnd.attr({'x':hx-handle_wh/2, 'y':hy-handle_wh/2});
        
    }
};

Rectangle.prototype.setSelected = function(selected) {
    
    if (selected) {
        this.rect.attr(selected_line_attrs);
        this.rect.toFront();
        //this.handles.show();
        this.handles.toFront();
        console.log(this);
    } else {
        this.rect.attr(line_attrs);
        this.handles.hide();
    }
};


// Polyline shape
function Polyline(paper, id, points_list, handle_shape_click, closed) {


    var self = this;

    // draw handles
    self.handles = paper.set();
    var handle;
    console.log('handle',handle);
        var i=0;
        var hx = points_list[i][0];
        var hy = points_list[i][1];
        handle = paper.rect(hx-handle_wh/2, hy-handle_wh/2, handle_wh, handle_wh).attr(handle_attrs);
        handle.id = i;
        //handle.polyline = self;
        handle.drag();

};

Polyline.prototype.updateShape = function() {
    this.line.attr({path: "M" + this.points_list.join("L") + this.closed});
};

Polyline.prototype.setSelected = function(selected) {
    if (selected) {
        this.line.attr(selected_line_attrs);
        this.line.toFront();
        this.handles.show();
        this.handles.toFront();
    } else {
        this.line.attr(line_attrs);
        this.handles.hide();
    }
};


window.onload = function () {

    var shape_objects = [];
    
    var paper = Raphael("holder", 400, 400);

    var p1 = new Rectangle(paper, 10, 50, 50, 100, 100);
    shape_objects.push(p1);

    var p2 = new Polyline(paper, 12, [[319,327], [179,227], [459,27]]);
    shape_objects.push(p2);

};

</script>
	
	<style type="text/css" media="screen">
                #holder {
                    border: solid 1px #333;
                    background: #ccc;
                }
                p {
                    text-align: center;
                }
            </style>
</head>

<body>
    <div id="holder"></div>
	<div id="canvas" style="border: solid black 1px"></div>
</body>