

<tr class="roiModalRoiItem"
        data-roiId="<%= roi.id %>"
        <% if (roi.shapes.length === 1) { %>
            data-shapeId="<%= roi.shapes[0].id %>"
        <% } %>
        >
    <td>
        <% if (roi.shapes.length > 1) { %>
            <span class="toggleRoi glyphicon glyphicon-play"></span>
        <% } %>
    </td>
    <td>
        <span class="glyphicon <%= roi.icon %>"></span>
    </td>

    <td>
        Z:
        <% if (roi.minZ !== undefined) { %>
            <%= roi.minZ + 1 %>
            <% if (roi.maxZ !== roi.minZ) print(" - " + (roi.maxZ + 1)); %>
        <% } %>
    </td>
    <td>
        T:
        <% if (roi.minT !== undefined) { %>
            <%= roi.minT + 1 %>
            <% if (roi.maxT !== roi.minT) print(" - " + (roi.maxT + 1)); %>
        <% } %>
    </td>
    <td class="roiViewport" style="position:relative; width:75px; height:55px"></td>
</tr>
